/*---------- google font------ */
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:wght@400;500;600&family=Roboto+Slab&family=Source+Serif+Pro&family=Ubuntu&display=swap");
@-webkit-keyframes colorchange {
  0% {
    color: black;
  }
  20% {
    color: #880d3a;
  }
  35% {
    color: #b10b48;
  }
  50% {
    color: #e02c6d;
  }
  65% {
    color: #b10b48;
  }
  80% {
    color: #880d3a;
  }
  100% {
    color: black;
  }
}
.header-left > h1 {
  animation-name: colorchange;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
/* animation-play-state: running;  
/*------------ common---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
/* ----------header part -------*/
header {
  margin-top: 35px;
}
.header-part {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.title {
  text-align: center;
  font-size: 25px;
}
.header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}
.header-left h1 {
  font-size: 48px;
  font-weight: 700;
}
.header-left p {
  font-size: 17px;
  line-height: 1.7em;
  font-weight: 500;
  margin-bottom: 18px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(#ce0c53, #f34a88);
  color: white;
  padding: 10px;
  border-radius: 25px;
}
.header-right img {
  width: 70%;
}
.header-right {
  overflow: hidden;
}
.header-right :hover {
  transform: scale(0.8) rotate(360deg);
  transition: transform 3s ease-in-out;
}

.collection-title {
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center;
}
.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 7%;
  margin-right: 7%;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  margin-bottom: 25px;
}
.collection {
  width: 329px;
  height: 480px;
  box-shadow: 0 0 20px gray;
  padding: 10px;
  border-radius: 5px;
}

.collection-details h2 {
  font-size: 25px;
}
.collection-details h3 {
  font-size: 20px;
  font-weight: 400;
}
.star-icon {
  font-size: 10px;
  color: orange;
}
.rating {
  font-size: 16px;
  font-weight: 500;
}
.protection {
  color: rgb(117, 113, 113);
  font-size: 15px;
  font-weight: 550;
}
.link {
  text-align: end;
  margin-right: 13%;
}
.more-link {
  text-decoration: none;
  color: #e02c6d;
}
.signup {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: rgb(230, 224, 224);
  padding: 30px 0;
  column-gap: 10%;
}
.signup-image {
  box-shadow: 0 0 30px #bd728db7;
  border-radius: 5px;
}
.pink {
  color: #e02c6d;
  font-size: 17px;
  font-weight: 600;
}
.signup h2 {
  font-size: 30px;
  font-weight: 500;
}
.email {
  font-size: 20px;
  padding: 8px 12px;
  margin-top: 15px;
  outline: none;
}
.fa-paper-plane {
  padding: 12px;
  color: white;
  background-color: #e02c6d;
}
footer {
  background-color: #0a0826;
  color: white;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
footer p {
  font-size: 13px;
  font-weight: 400;
}
footer .fab {
  margin-right: 5px;
}
@media only screen and (max-width: 688px) {
  .header-part {
    display: block;
  }
  .collections {
    grid-template-columns: 1fr;
  }
  .signup {
    display: block;
  }
  .signup-image img {
    width: 100%;
  }
}
@media only screen and (min-width: 689px) and (max-width: 992px) {
  .collections {
    grid-template-columns: repeat(2, 1fr);
  }
}
